.grid-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}