$wire: #627685;
$wire-active-light: rgb(4, 223, 157);
$wire-active-dark: rgb(3, 201, 141);
$server: #0262b1;
$terminal: #414e5a;
$terminal-active: #22496d;
$grid: #acb5bda1;
$grid-highlight: #749ec2;

.grid-item {
  outline: 1px solid $grid;
  width: 50px;
  height: 50px;
}

.grid-item:hover:not(.is-locked) {
  outline: 3px solid $grid-highlight;
  outline-offset: -2px;
  z-index: 100;
}

svg {
  transition: all 0.2s ease;
}

rect.server {
  fill: $server;
  stroke-width: 0px;
}

rect.terminal {
  fill: $terminal;
  stroke-width: 0px;
}

rect.light {
  fill: transparent;
  stroke-width: 0px;
}

line.wire {
  stroke: $wire;
  stroke-width: 8px;
  stroke-linecap: round;
}

.stop-active-light {
  stop-color: $wire-active-light;
}

.stop-active-dark {
  stop-color: $wire-active-dark;
}

.active {
  .wire {
    stroke: url(#radial-gradient-active);
  }

  .terminal {
    fill: $terminal-active;
  }

  .light {
    fill: $wire-active-dark;
    stroke-width: 0px;
    animation: blink 2s steps(10, start) infinite;
    -webkit-animation: blink 2s steps(5, start) infinite;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.3s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  animation-name: shake;
  animation-duration: 0.3s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
